[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OptHoldoutSize"]
	path = OptHoldoutSize
	url = https://github.com/cran/OptHoldoutSize
[submodule "SPARRAfairness"]
	path = SPARRAfairness
	url = https://github.com/cran/SPARRAfairness
